@import "tailwindcss";

body {
  overscroll-behavior-y: none;
}

* {
  color: white;
}

@keyframes scaleBounce {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.scale-bounce {
  animation: scaleBounce 0.6s ease-out;
}
